*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-heading-1), 'Product Sans', 'Gilroy', 'Gotham', 'Avenir LT Std',
    sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

fieldset,
dialog {
  border: none;
}

dialog {
  padding: 0;
}

ul,
li {
  @apply list-none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

svg {
  vertical-align: middle;
  fill: currentColor;
}

button,
body,
input,
a {
  font-family: var(--font-primary);
}

button,
input {
  outline: none;
  border: none;
}

a,
a[role='button'] {
  text-decoration: none;
}

/**
 * Accessibility 
 */

*:focus-visible {
  outline: 3px solid var(--color-wai-focused);
  padding: 8px 4px;
}

html {
  font-size: 100%;
}
