@import './theme';

/** 
 * GRAPHIC
 */

.image__c {
  @apply relative h-full w-full;
  &.square {
    .image__placeholder {
      @apply h-0 w-full pt-full;
    }
    .image__image {
      @apply abs-fill;
    }
  }
  .image__overlay {
    @apply bg-black/40;
  }
}

.loader__c {
  @apply relative flex-1;
  &.full-screen {
    @apply absolute left-0 top-0;
    .loader__background {
      @apply bg-black-primary;
    }
  }
  .loader__background {
    @apply bg-black-primary/30;
  }
  .icon__c {
    @apply h-20 w-20;
    .icon {
    }
  }

  .image__c {
    @apply h-16 w-16;
  }
}

.icon__c {
  @apply h-5 w-5;
  &:not(.multi-color) .icon:not(svg) {
    @apply h-full w-full bg-black;
  }
  .multi-color svg {
    @apply bg-transparent;
  }
  &.icon-logo {
    @apply h-[32px] w-[95px];
  }
  &.icon-double-arrow {
    @apply h-8 w-8;
  }
}

.layer__c {
  &.stripe {
    @apply top-0 -z-10 h-1/2 translate-y-0 bg-black-primary;
  }
}

.shape__c {
  &.polygon {
    transform: skew(-17deg);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    border: 1px solid #fff;
    box-shadow:
      0px 0px 6px 0px #fff,
      inset 0px 0px 20px 0px rgb(255 255 255 / 61%);
    color: #fff;
  }
  &.light-saber {
    border-radius: 100px;
    width: 60px;
    height: 3px;

    background-color: #fff;
    box-shadow: 0px 0px 6px 3px;
    color: var(--red-1);
    transition:
      left 0.6s ease-out,
      width 0.6s ease-in;
  }
}
.polygon {
  transform: skew(-17deg);
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  border: 1px solid #fff;
  box-shadow:
    0px 0px 6px 0px #fff,
    inset 0px 0px 20px 0px rgb(255 255 255 / 61%);
  color: #fff;
}
.button__c {
  @apply relative flex;
  .button {
    @apply btn border-0 outline-0;
    &:disabled {
      @apply opacity-40;
    }
    &.outline {
      @apply btn--outline;
    }
    &.standard {
      @apply btn--standard;
    }
    &.sm {
      @apply btn--sm;
    }
    &.md {
      @apply btn--md;
    }
    &.lg {
      @apply btn--lg;
    }
    label {
      @apply w-full text-center;
    }
  }
}
.navigation-arrow__c {
  label {
    @apply subheading subheading--lg text-white;
    @apply ml-4;
  }
  .icon__c.icon-double-arrow {
    @apply h-8 w-8 rotate-90;
    .icon {
      @apply bg-white;
    }
  }
}
/** 
 * LAYOUT
 */

.header__c {
  @apply page-max-w;
  @apply flex h-[var(--navigation-height)] w-full items-center justify-between;
  .header__burger {
    @apply action z-200;
    .icon__c {
      @apply h-6 w-6;
      .icon {
        @apply bg-white;
      }
    }
    .header__burger-icon.close {
      @apply absolute;
    }
  }
  .header__darth.icon__c {
    @apply action h-6 w-6;
    .icon {
      @apply bg-white;
    }
  }
  .logo__c {
    @apply action;
    .icon__c {
      @apply h-[32px] w-[95px];
    }
  }
  .navigation__c {
    &.open {
      @apply z-100;
    }
    @apply fixed left-1/2 top-0 -z-100 h-screen w-full -translate-x-1/2;
    .navigation__backdrop {
      @apply bg-black;
    }
    .navigation__menu-item {
      @apply py-2;
    }
  }
}

.layout__c {
  @apply relative min-h-screen overflow-hidden;
  &.page-avatars {
    .layout__background .image__image {
      @apply bg-left;
    }
    .header__c .header__darth {
      @apply opacity-0;
    }
  }

  .layout__top {
    @apply page-max-w;
    @apply mt-16 w-full;
    .navigation-arrow__c {
      @apply justify-start;
      label,
      .icon__c {
        @apply action;
      }
    }
  }

  .layout__background {
    @apply absolute -z-10;
    /*
    */
    .image__overlay {
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.4) 60%,
        rgba(0, 0, 0, 1) 90%
      );
    }
    .image__image {
      @apply bg-cover bg-center;
    }
  }

  .layout__overlay.circle {
    @apply -z-10;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 15%,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 1) 90%
    );
  }

  .layout__logo {
    @apply z-10;
    .draggable {
      @apply relative;
      &.dragging .drag-view {
        box-shadow: 0 0 15px rgb(255 255 255 / 60%);
        border: 4px solid rgb(255 255 255 / 30%);
        transition:
          border-width 0.5s ease-in-out,
          box-shadow 0.5s ease-in-out;
      }
      .drag-view {
        @apply h-[220px] w-[220px] rounded-full;
        &.dragging {
        }
      }
    }
    .logo__c {
      .icon__c {
        @apply h-[64px] w-[180px];
      }
    }
  }
  .layout__overlay.radius {
    @apply z-30 scale-0 rounded-full bg-black;
  }
  .layout__overlay.curtain {
    @apply z-30 bg-black;
  }

  .layout__drag-here {
    @apply top-[var(--gutter-outer-y)] z-20 gap-4;
    @apply heading heading--md text-white;
    .icon__c {
      .icon {
        @apply bg-white;
        @apply -scale-y-100;
      }
    }
  }
  .layout__continue {
    @apply bottom-[var(--gutter-outer-y)] z-20 gap-4;
    @apply heading heading--md text-white;
    transition: opacity 0.5s ease-in-out;
    label,
    .icon__c {
      @apply action;
    }
    .icon__c .icon {
      @apply bg-white;
    }
  }
}

/** 
 * SECTIONS/BLOCKS 
*/

.page__c {
  &.landing {
    @apply z-30;
    .logo__c {
      @apply absolute top-1/5;
      .icon__c {
        @apply h-[64px] w-[180px];
      }
    }

    h2,
    h3 {
      @apply text-white;
    }
    h2 {
      @apply body body--md;
      text-shadow: 0 0 15px rgb(255 255 255 / 80%);
    }
    h3 {
      @apply mt-8 tab-sm:mt-12;
      @apply help-text help-text--md;
      text-shadow: 0 0 15px rgb(255 255 255 / 40%);
    }

    .button__c {
      @apply mt-12 tab-sm:mt-18;
    }
  }
  &.avatars {
    @apply page-max-w;
    @apply mt-12 w-full flex-1 pb-[var(--gutter-outer-y)];
    h1 {
      @apply subheading subheading--lg;
      @apply text-white;
    }
  }
  &.details {
    @apply mt-12 w-full flex-1;
    @apply page-max-w pb-[calc(var(--gutter-outer-y)*2)];
  }
}

.cards-list__c {
  --f-grid-gap: 24px;
  @apply mt-8;

  .filters__c {
    &.closed .filters__modal {
      transform: translateX(100%);
      z-index: -100;
    }
    &.open .filters__modal {
      transform: translateX(0%);
      z-index: 1000;
    }

    > .filters__toggle.icon__c {
      @apply fixed right-0 top-[calc(var(--navigation-height)+var(--section-gap)+32px+var(--section-gap)-16px)] z-10;
      @apply h-10 w-10 rounded-sm border-[1.6px] border-solid border-white bg-black-primary px-1.5;
      .icon {
        @apply bg-white;
      }
    }

    > .filters__modal {
      @apply fixed left-0 top-0 flex;
      @apply bg-black-primary/95;

      > .filters__modal-inner {
        @apply px-[var(--gutter-outer-x)] py-[var(--gutter-outer-y)];

        > .filters__modal-header {
          @apply mb-[calc(var(--gutter-outer-y)*2/3)] justify-between;

          h3 {
            @apply subheading subheading--lg;
            @apply text-gray-light;
          }

          .filters__modal-close {
            @apply h-6 w-6;
            .icon {
              @apply bg-gray-dark;
            }
          }
        }

        > .filters__modal-filters {
          @apply overflow-x-hidden overflow-y-scroll;
          @apply -mx-[var(--gutter-outer-x)] px-[var(--gutter-outer-x)];
          border-bottom: 1px solid #acacac;

          > .filter__c {
            @apply mb-[calc(var(--gutter-outer-y))];

            &.range {
              @apply mb-[calc(var(--gutter-outer-y))];

              > .range-slider__slider {
                @apply relative mt-2;
                > .range-slider__values {
                  @apply absolute right-0 z-20 -translate-y-[200%];
                  @apply text-white-primary;
                }

                > .range-slider__track {
                  @apply flex-1;
                }
                > .range-slider__path {
                  position: absolute;
                  left: 0;
                  width: 100%;
                }

                .range-slider__thumb {
                  position: absolute;
                  z-index: 1;

                  &.left {
                    left: 0;
                    transform: translateX(-15px);
                    .range-slider__thumb-icon {
                      width: 30px;
                      height: 30px;
                    }
                    .range-slider__thumb-bkg {
                      position: absolute;
                      z-index: -1;
                      width: 20px;
                      height: 20px;
                      background-color: var(--gray-trans);
                    }
                  }
                  &.right {
                    right: 0;
                    transform: translateX(15px);
                    .range-slider__thumb-icon {
                      width: 30px;
                      height: 30px;
                    }
                    .range-slider__thumb-bkg {
                      @apply -z-10 bg-black-primary;
                      position: absolute;
                      width: 20px;
                      height: 20px;
                    }
                  }

                  .icon {
                    background-color: #fff;
                  }
                }
              }
            }

            > label {
              @apply subheading subheading--md;
              @apply text-white;
              margin-bottom: 8px;
            }

            &.select {
              @apply flex flex-wrap;
              .select-filter__slider {
                .button__c {
                  @apply py-4;
                }
              }
              .select-filter__value {
                @apply ml-4 opacity-40;
                &:nth-child(1) {
                  @apply ml-0;
                }

                &.active {
                  @apply opacity-100;
                }

                > .select-filter__value-name {
                  max-height: calc(2 * var(--font-x-lg));
                }
              }
            }

            &.radio {
              @apply flex flex-wrap;
              > label {
                @apply mb-2 basis-full;
              }
              .radio-filter__values {
                @apply basis-full;
              }
              .radio-filter__value {
                @apply mt-4 justify-between opacity-40;
                &:nth-child(1) {
                  @apply mt-0;
                }

                &.active {
                  @apply opacity-100;
                }

                > .radio-filter__value-toggle {
                  position: relative;
                  height: 24px;
                  width: 18px;
                }
                > .radio-filter__value-name {
                  @apply body body--md text-white;
                }
              }
            }
          }
        }

        > .filter__modal-actions {
          @apply mx-auto mt-4;
          > .filter__modal-button {
            @apply mx-2;

            &[disabled] {
              opacity: var(--btn-opa-inactive);
            }
          }
        }
      }
    }
  }

  .card__c {
    @apply action relative;
    transition: transform 0.4s ease-in-out;
    &:hover {
      @apply scale-105;
    }

    .card__image {
      @apply relative rounded-lg;
      @media screen(tab-md) {
      }

      .layer__c {
        @apply rounded-[inherit] opacity-90;
        box-shadow: inset 0px -50px 30px -30px #ff0911;
        box-shadow: inset 0px -70px 30px -22px #fff;
      }
    }

    .card__title {
      @apply heading heading--sm;
      @apply absolute bottom-16 h-12 w-4/5 px-8 text-white;
    }

    .card__secondary-title {
      @apply subheading subheading--sm;
      @apply absolute bottom-6 font-light text-gray-darker;
    }
  }

  .cards-pagination__c {
    @apply mx-[auto] my-[var(--gutter-outer-y)] mt-[calc(var(--gutter-outer-y)*2)];
    @apply btn-text btn-text--md;

    .cards-pagination__control__indexes {
      @apply mx-[calc(var(--gutter-outer-x)/2)];
    }

    .cards-pagination__control {
      @apply relative;
      position: relative;
      color: #fff;
      opacity: 0;
      width: 0;
      min-height: 32px;

      transition: all 0.4s ease-in;
      cursor: pointer;

      &.visible:not(.arrow) {
        opacity: 1;
        width: auto;
        min-width: 32px;
        margin: 0 4px;
      }

      &.arrow {
        opacity: 1;
        width: auto;
        min-width: 42px;
        min-height: 42px;

        &.disabled {
          opacity: var(--btn-opa-inactive);
        }

        &:hover {
          transform: scale(1.13);
          transition: transform 0.2s ease-out;
        }
      }
      &:not(.arrow) {
        .shape__c {
          box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.61);
          transition: box-shadow 0.5s ease-in-out;
        }
        &.selected {
          .shape__c {
            box-shadow:
              0px 0px 6px 0px #fff,
              inset 0px 0px 20px 0px rgba(255, 255, 255, 0.61);
          }
        }
      }

      .icon__c {
        @apply h-6 w-6;
        .icon {
          @apply bg-white;
        }
      }
    }
  }
}

.card-detail__c {
  --character-color: rgb(var(--color-red-primary));
  --character-color: #fff;
  @apply rounded-md bg-black-primary/95;

  .card-detail__inner {
    @apply px-[calc(var(--gutter-outer-x)*3/3)] pb-[calc(var(--gutter-outer-y))];
  }

  .card-detail__summary {
    .card-detail__name {
      @apply mt-[calc(var(--gutter-outer-y)*3/2)];
      @apply heading heading--lg;
      @apply text-white-primary;
      @apply text-[var(--character-color)];
      @apply shadow-[var(--character-color)] text-shadow;
    }
    .card-detail__alt-name {
      @apply mt-[calc(var(--gutter-outer-y)/2)];
      @apply help-text help-text--md;
      @apply shadow-[var(--character-color)] text-shadow-sm;
    }
    .card-detail__image {
      @apply relative mt-[calc(var(--gutter-outer-y))] rounded;
      .layer__c {
        &.border {
          @apply rounded-[inherit] text-black-primary;
          box-shadow:
            0 0px 20px 6px,
            inset 0 -4px 10px 20px;
        }
        &.bottom {
          @apply rounded-[inherit];
          @apply text-[var(--character-color)];
          box-shadow: inset 0px -110px 60px -60px;
        }
      }
    }
  }

  .card-detail__details-title-button {
    @apply mt-[calc(var(--gutter-outer-y))] self-start;
  }

  .section-title {
    @apply heading heading--md;
    @apply text-white-primary;
  }

  .card-detail__appeared-in {
    @apply mt-[calc(var(--gutter-outer-y))];

    .card-detail__appeared-in__film {
      @apply mt-[calc(var(--gutter-outer-y)/2)];

      .card-detail__appeared-in__image {
        @apply polygon;
        @apply relative h-10 w-24;
      }
      .card-detail__appeared-in__title {
        @apply ml-6;
        @apply body body--sm;
        @apply text-white-primary/70;
      }
    }
  }

  .card-detail__related {
    @apply mt-[calc(var(--gutter-outer-y))];

    > .card-detail__related-tabs {
      @apply relative justify-between;

      > .section-title {
        @apply action;
      }

      > .card-detail__tab-active {
        @apply absolute -bottom-3;
        @apply text-[var(--character-color)];
      }
    }

    > .card-detail__related-view {
      @apply mt-[calc(var(--gutter-outer-y))];

      .card-detail__related-table {
        flex: 0 0 calc(100vw - 2 * var(--page-pad-h) - 2 * var(--card-p-x));
        flex: 0 0 100%;

        &.stats {
          .table-header {
            @apply highlight-text highlight-text--md;
          }
          .table-data {
            @apply body body--sm;
          }
          td {
            @apply py-2;
            @apply text-white-primary/80;
          }
        }

        &.image-cards {
          @apply self-start px-[var(--gutter-outer-x)];
          .card-detail__related-table__image {
            @apply polygon;
            @apply relative h-36;
          }
          .card-detail__related-table__data {
            .card-detail__related-table__data-item {
              @apply mt-[var(--gutter-outer-y)];
              @apply body body--xs;
              @apply text-center text-white-primary/80;
              &:nth-child(1) {
                @apply mt-2;
              }

              &.no-data {
                margin-top: var(--section-gap);
              }
            }
          }
        }

        .card-detail__related-table__header,
        .card-detail__related-table__data-item {
          margin-top: calc(var(--section-gap) / 3);
          &:nth-child(1) {
            margin-top: 0;
          }
        }

        .card-detail__related-table__header {
          font-size: 0.88rem;
        }

        > .card-detail__related-table__data {
          flex: 1;
          margin-left: var(--section-gap);

          > .card-detail__related-table__data-item {
            transform: translateY(-1.6px);

            text-transform: capitalize;
            &.birth-year {
              text-transform: lowercase;
            }

            > .card-detail__related-table__data-item__image-wrapper {
              padding: 0 var(--section-gap);
              width: 100%;
              height: 100px;

              .card-detail__related-table__data-item__image {
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}

.search-bar__c {
  @apply mx-auto h-[32px] w-[240px];
  @apply border border-solid border-gray-darker/80;
  margin-top: var(--nav-height);

  @media screen(tab-sm) {
    @apply mx-auto h-[48px] w-[360px];
  }
  @media screen(desk-sm) {
    @apply mx-auto h-[48px] w-[640px];
  }

  transition: all 0.2s ease-in-out;
  &.focused {
    @apply border border-solid border-gray-light;

    > .search-bar__input {
      @apply text-gray-dark;
    }
    > .search-bar__divider {
      @apply bg-gray-dark;
    }
    > .icon__c.icon-search-1 .icon,
    > .icon__c.reset .icon {
      @apply bg-gray-dark;
    }
  }

  &.searching {
    .icon__c.reset .icon {
      @apply bg-gray-darker;
    }
  }

  > .search-bar__input {
    @apply body body--sm;
    @apply min-w-0 bg-transparent text-gray-darker/80;
    @media screen(desk-sm) {
      @apply min-w-[460px];
    }
  }

  > .search-bar__divider {
    @apply ml-4 mr-px h-4 w-px;
    @apply bg-gray-darker/40;
  }

  .icon__c {
    @apply mx-4 h-8 w-8;
    &.icon-search-1 {
      @apply ml-8;
      .icon {
        @apply bg-gray-darker/80;
      }
    }
    &.reset .icon {
      @apply bg-gray-darker/80;
    }
  }
}

/** 
 * PLUGIN  
 */

.style-guide__c {
  .style-guide__font-sizes {
    font-family: Monospace;
    table {
      @apply py-2;
    }
    th {
      @apply min-w-[140px] text-center;
      @apply border-x-0 border-b border-t-0 border-solid border-black;
    }
    td {
      @apply text-center;
    }
  }
}
