/* 
  BREAKPOINTS
  1. mob-lg | 2. tab-sm | 3. tab-lg  | 4. desk-md 
  APPLY IN COMPONENTS / PAGES CUSTOMIZATION
*/

/** 
  LAYOUT SETTINGS
 */

.gutter-outer-x {
  @apply px-gutter-outer-x;
}

.gutter-outer-y {
  @apply py-gutter-outer-y;
}

.page-max-w {
  @apply gutter-outer-x mx-auto max-w-default;
}

.section-spacing {
  @apply mt-16;
}

.show-mobile {
  @media screen(desk-sm) {
    @apply hidden;
  }
}

.show-desktop {
  @media screen and (max-width: calc(theme(screens.desk-sm.min) - 1px)) {
    @apply hidden;
  }
}

.nav-arrow.icon__c {
  @apply z-10 flex scale-y-[2] items-center;
  @apply cursor-pointer;
  @apply h-7 w-7;
  @media screen(tab-sm) {
    @apply h-9 w-9 p-1;
  }

  &.disabled {
    @apply opacity-40;
  }
  &.left {
    @apply left-0.5;
  }
  &.right {
    @apply right-0.5;
  }
  &.bottom {
    @apply absolute left-1/2 -translate-x-1/2 -translate-y-10 rotate-90;
  }
  &.flying {
    @apply absolute top-1/2 -translate-y-1/2;
    @apply scale-y-[2];
  }
  &.highlight {
    @apply rounded-[50%];
    .icon {
      @apply translate-x-0.5;
    }
    &.left .icon {
      @apply -translate-x-0.5;
    }
  }
  &.primary {
    background-color: #277881a1;
  }
  &.standard {
    @apply border border-white-primary bg-white-primary/10;
    .icon {
      @apply bg-white-primary;
    }
  }
  .icon {
    @apply h-5 w-5;
  }
}

/** 
  TYPOGRAPHY
 */

.heading {
  @apply font-heading;
}
.heading--xl {
  @apply text-4xl desk-lg:text-5xl-minus; /*  */
  @apply font-semibold;
  @apply tracking-normal;
}
.heading--lg {
  @apply text-3xl-plus tab-sm:text-3xl desk-lg:text-4xl; /*  */
  @apply font-semibold;
  @apply tracking-2;
}
.heading--md {
  @apply text-2xl tab-sm:text-xl desk-lg:text-2xl;
  @apply tracking-1;
}
.heading--sm {
  @apply text-base desk-sm:text-sm;
  @apply tracking-1;
}

.subheading {
  @apply font-subheading;
}
.subheading--lg {
  @apply text-2xl;
}
.subheading--md {
  @apply text-lg;
}
.subheading--sm {
  @apply text-base;
  @apply tracking-1;
}

.body {
  @apply font-body;
}
.body--lg {
  @apply text-xl;
  @apply tracking-1;
}
.body--md {
  @apply text-base;
  @apply tracking-1;
}
.body--sm {
  @apply text-sm;
  @apply tracking-1;
}

.btn-text {
  @apply font-btn;
}
.btn-text--lg {
  @apply text-2xl tab-sm:text-xl;
  @apply tracking-1;
}
.btn-text--md {
  @apply text-base;
  @apply tracking-1;
}
.btn-text--sm {
  @apply text-xs-plus tab-sm:text-sm;
  @apply tracking-1;
}

.highlight-text {
  @apply font-highlight;
}
.highlight-text--md {
  @apply text-xs-plus tab-sm:text-sm;
}

.help-text {
  @apply font-help;
}
.help-text--md {
  @apply text-5xs tab-sm:text-sm;
}

/** 
  BUTTON VARIANTS
 */

.btn {
  @apply action inline-flex cursor-pointer items-center rounded-full shadow;
}

.btn--standard {
  @apply bg-primary text-white-primary;
  transition:
    background-color 0.5s ease-in-out,
    color 0.4s ease-in-out;
  &:hover {
    @apply bg-tertiary;
  }
}

.btn--primary {
  @apply bg-tertiary text-white-primary;

  transition:
    background-color 0.5s ease-in-out,
    color 0.4s ease-in-out;
  &:hover {
  }
}

.btn--outline {
  @apply font-light;
  @apply border border-white-primary/70 bg-transparent text-white-primary;

  transition: opacity ease-in-out 0.4s;
  &:hover {
    @apply opacity-80;
  }
}

/** 
 * BUTTON SIZE 
 */

.btn--lg {
  @apply btn-text btn-text--lg;
  @apply h-8 px-6 py-0.5 pt-px;
  @media screen(tab-sm) {
    @apply h-10 px-8;
  }
}

.btn--md {
  @apply btn-text btn-text--md;
  @apply h-6 px-6 py-0.5 pt-1;
}

.btn--sm {
  @apply btn-text btn-text--sm;
  @apply h-5 px-6 py-0.5 pt-1;
}
