:root {
  /** 
    TYPOGRAPHY 
  */
  --font-sans-serif: sans-serif;
  --font-serif: 'Century Schoolbook', 'Cervo', serif;
  --font-mono: monospace;

  --font-aurek-besh: 'Aurek-Besh';
  --font-aurek-besh-narrow: 'Aurek-Besh Narrow';
  --font-episode-i: 'EPISODE I';
  --font-tie-wing: 'TIE-Wing';
  --font-sf-distant-galaxy: 'SF Distant Galaxy';
  --font-sf-distant-galaxy-outline: 'SF Distant Galaxy Outline';
  --font-sf-distant-galaxy-altoutline: 'SF Distant Galaxy AltOutline';
  --font-sf-distant-galaxy-alternate: 'SF Distant Galaxy Alternate';
  --font-sf-distant-galaxy-symbols: 'SF Distant Galaxy Symbols';

  --font-sf-distant-alt: var(--font-sf-distant-galaxy-outline),
    var(--font-sf-distant-galaxy-altoutline), var(--font-sf-distant-galaxy-alternate),
    var(--font-sf-distant-galaxy-symbols);

  --font-family-heading: var(--font-tie-wing), var(--font-mono);
  --font-family-subheading: var(--font-sf-distant-galaxy), var(--font-sf-distant-alt),
    var(--font-mono);
  --font-family-body: var(--font-episode-i), var(--font-mono);
  --font-family-btn: var(--font-sf-distant-galaxy), var(--font-sf-distant-alt), var(--font-mono);
  --font-family-highlight: var(--font-tie-wing), var(--font-mono);
  --font-family-help: var(--font-aurek-besh), var(--font-aurek-besh-narrow), var(--font-mono);

  /** 
    COLOR 
  */

  /* BASE */

  --color-red: 255 0 0;
  --color-green: 0 255 0;
  --color-blue: 0 0 255;
  --color-white: 255 255 255;
  --color-black: 0 0 0;
  --color-gray: 197 197 197;
  --color-gray-light: 241 241 241;
  --color-gray-dark: 159 159 159;
  --color-gray-darker: 106 106 106;

  /* PALETTE */

  --color-snow: 209 239 255;
  --color-blue-dark: 20 34 45;
  --color-blue-light: 38 61 80;
  --color-blue-highlight: 39 84 122;
  --color-blue-sky: 0 143 255;

  /* PRIMARY */

  --color-white-primary: 255 255 255;
  --color-black-primary: 20 20 20;
  --color-blue-primary: 0 60 86;
  --color-red-primary: 255 50 50;

  --color-primary: var(--color-hermes-orange);
  --color-secondary: var(--color-hermes-orange);
  --color-tertiary: var(--color-hermes-orange);

  /** 
    LAYOUT 
  */

  --max-width: 1440px;

  --gutter-outer-x: 24px;
  --gutter-outer-y: 40px;
  --navigation-height: 64px;
  --announcement-height: 0px;

  /*
  --gutter-section: 16px;
*/

  @media screen(tab-sm) {
    --gutter-outer-x: 36px;
    --navigation-height: 64px;
  }
  @media screen(desk-sm) {
    --gutter-outer-x: 64px;
    --gutter-outer-y: 64px;
    --navigation-height: 80px;
  }
  @media screen(desk-lg) {
    --gutter-outer-x: 80px;
    --gutter-outer-y: 80px;
    --navigation-height: 84px;
  }
}
